{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

    <h2 style="padding: 12px;">Welcome {{user.username}}</h2>

 {% else %}

    <form method="POST" action="{% url 'login' %}">

            <div class="container" style="border: 4px solid blue ; padding: 8px;">

        {% csrf_token %}  
        {% for field in form %}
        <div class="form-control">

            {{field.label_tag}}
            {{field}}

        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Login</button>
        
        </form>

    </div>

    {% endif %}


{% endblock %}